<h3>Welcome</h3>
basdfblfbkasdfbjkb

<p>here i'll put a bunch of links to auth with a bunch of services, okay?  cool</p>

<% if user_signed_in? %>
  <p><%= link_to 'Authenticate with Facebook', facebook_path %></li></p>
  <p><%= link_to 'Authenticate with GitHub', github_path %></li></p>
  <p><%= link_to 'Authenticate with Tumblr', tumblr_path %></li></p>
  <p><%= link_to 'Authenticate with Twitter', twitter_path %></li></p>
  <p>instagram</p>
  <p>linked in</p>
  <p>google</p>

<% else %>
  <p>you gotta sign in to see that shit</p>
<% end %>
