<h3>Welcome</h3>
basdfblfbkasdfbjkb

<p>here i'll put a bunch of links to auth with a bunch of services, okay?  cool</p>

<% if user_signed_in? %>
  <p>link1 (fake)</p>
  <%= link_to 'Authenticate with Facebook', facebook_path %></li>
<% else %>
  <p>you gotta sign in to see that shit</p>
<% end %>
